In [ ]:
#1. leap year 
#if the year is divided by the 400 and 4. and the year is divided by the year 400 and not by the 100, then leap year
def leap_year(year):
  result = True if ((year%400 == 0 or year%4==0) and (year%400 == 0 or year%100!=0)) else False
  return result

In [ ]:
print(leap_year(2000))

True

In [ ]:
'''2.
Write a Python function that takes two lists of integers as input and returns a new list
containing only the numbers that are present in both lists, but with each number
appearing only once in the final list.
'''

list1= [1,2,3,4,3,4,5,5,5]
list2=[3,3,4,4,5,6]
new_list=[]

def insert_item(list1,list2):
    #changing the list to set to remove the duplicate
    for x in set(list1):
        if x in set(list2):
            new_list.append(x)
    
    return new_list

insert_item(list1,list2)
    
print(new_list)

[3, 4, 5]

In [ ]:
'''3.
Write a Python program that takes a string as input and returns a dictionary where
each key is a unique word in the string and the value is a list of the indices where that
word appears in the string.
'''

word = input("Enter the string:")


def count(word):
   x=word.split()

   wordcount = {word : [i for i,w in enumerate(x) if w == word] for word in x}
   return wordcount

print(count(word))

Enter the string:my name is
{'my': [0], 'name': [1], 'is': [2]}

In [1]:
# 4. Write a Python function that takes a list of integers as input 
# and returns a new list with the elements sorted in descending order,
#  but with all odd numbers appearing before all even numbers.


def sort_odd_even(numbers):
    #only return list with odd number 
    odd_numbers = sorted([num for num in numbers if num % 2 != 0], reverse=True)
    #returns list with even numbers
    even_numbers = sorted([num for num in numbers if num % 2 == 0], reverse=True)
    #returning the lists
    return odd_numbers + even_numbers

sort_odd_even([2,3,4,1,2,7])

[7, 3, 1, 4, 2, 2]

5. Write a Python program that takes two sets as input and returns a new set containing the elements that are in the first set but not in the second set, and the elements that are in the second set but not in the first set.

In [2]:
# (s1-s2) union (s2-s1)

def set_difference(s1, s2):
    """
    Args:
        a: set
        b: set
    Returns:
        set
    """
    return s1.symmetric_difference(s2)

set_difference({1,2,3,4,5}, {4,5,6,7,8})

{1, 2, 3, 6, 7, 8}

6. Write a Python function that takes a list of strings as input and returns a new list containing only the strings that are palindromes

In [4]:
def palindromes(strings):
    palindrome = []
    for string in strings:
        if string == string[::-1]:
            palindrome.append(string)
    return palindrome

palindromes(['go', 'yes', 'madam', 'anna', 'nandan'])

['madam', 'anna']

7. Write a Python program that takes a list of tuples, where each tuple contains a string and an integer, and returns a new list containing the tuples sorted by the length of the string, with ties broken by the value of the integer.

In [5]:
def sort_tuples(data):
    sort_data = sorted(data, key=lambda x: (len(x[0]), x[1]))
    return sort_data

# Example 
data = [("nandan", 3), ("sing", 2), ("oe", 1), ("yes", 2), ("go", 1)]
sort_tuples(data)

[('oe', 1), ('go', 1), ('yes', 2), ('sing', 2), ('nandan', 3)]

8. Write a Python function that takes a dictionary as input and returns a new dictionary where the keys are sorted alphabetically and the values are sorted in descending order.

In [8]:
def sorting_dict(di):

    sorted_keys = dict(sorted(di.items()))
    sorted_value = dict(sorted(di.items(),key = lambda x : x[1] ,reverse=True))
    return sorted_keys, sorted_value

sorting_dict({'b': 1, 'd': 2, 'c': 4, 'a': 2})

({'a': 2, 'b': 1, 'c': 4, 'd': 2}, {'c': 4, 'd': 2, 'a': 2, 'b': 1})

9. Write a Python program that takes a list of tuples, where each tuple contains a string and a set of integers, and returns a new list containing the tuples sorted by the sum of the integers in the set, with ties broken by the length of the string.

In [9]:
def sortListWithTuple(l):
    """
    Args:
        l: list
            list of tuples with first element as string and second as set of integers
    Returns:
        list of tuples sorted by sum of integers in set
    """
    return sorted(l, key=lambda x: (sum(x[1]), len(x[0])))

sortListWithTuple([('abc', {10,20,30}), ("apple", {3, 1, 5}), ("banana", {2, 4}), ('b', {10,3,2})])

[('banana', {2, 4}),
 ('apple', {1, 3, 5}),
 ('b', {2, 3, 10}),
 ('abc', {10, 20, 30})]

10. Write a Python function that takes a string as input and returns a new string where each word in the string is replaced with the word that appears most frequently in the string.

In [11]:
def wordRepeat(str):
    """
    Args:
        str: string
    Returns:
        string where each word is replaced with the word that appers most frequently in the string
    """
    temp = str.split(' ')
    max_word = max(temp, key=temp.count)
    return ''.join(f" {max_word}" for _ in range(len(temp)))[1:]


wordRepeat('nandan singh hello world hello')

'hello hello hello hello hello'

11. Write a Python program that takes a list of tuples, where each tuple contains a string and a list of integers, and returns a new list containing the tuples sorted by the median of the integers in the list, with ties broken by the length of the string.

In [12]:
import statistics

def sort_tuples(data):
    sorted_data = sorted(data, key=lambda x: (statistics.median(x[1]), len(x[0])))
    return sorted_data

# Example usage
data = [("apple", [3, 1, 5]), ("banana", [2, 4]), ("orange", [1, 3, 5, 7]), ("kiwi", [2]), ("mango", [1, 3])]
sorted_tuples = sort_tuples(data)
print(sorted_tuples)

[('kiwi', [2]), ('mango', [1, 3]), ('apple', [3, 1, 5]), ('banana', [2, 4]), ('orange', [1, 3, 5, 7])]

12. Given an integer array nums, rotate the array to the right by k steps, where k is non-negative. For example nums = [1,2,3,4,5,6,7], k=3 should output [5,6,7,1,2,3,4] Do it with the least possible space. I.e O(1) space complexity.

In [13]:
def reverse(nums, start, end):
    while start < end:
        nums[start], nums[end] = nums[end], nums[start]
        start += 1
        end -= 1

def rotate(nums, k):
    n = len(nums)
    k %= n  # Calculate effective rotations within range
    
    reverse(nums, 0, n - 1)  # Reverse the entire array
    reverse(nums, 0, k - 1)  # Reverse first k elements
    reverse(nums, k, n - 1)  # Reverse remaining elements

# Example
nums = [1, 2, 3, 4, 5, 6, 7]
k = 3
rotate(nums, k)
print(nums)  # Output: [5, 6, 7, 1, 2, 3, 4]

[5, 6, 7, 1, 2, 3, 4]